
* {
    box-sizing: border-box;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile a {
    display: inline;
    padding: 1rem;
    margin: 1rem;
}